
<div *ngIf="tranCategory">
    <h2><span jhiTranslate="sfWebAdminApp.tranCategory.detail.title">Tran Category</span> {{tranCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sfWebAdminApp.tranCategory.name">Name</span></dt>
        <dd>
            <span>{{tranCategory.name}}</span>
        </dd>
        <dt><span jhiTranslate="sfWebAdminApp.tranCategory.description">Description</span></dt>
        <dd>
            <span>{{tranCategory.description}}</span>
        </dd>
        <dt><span jhiTranslate="sfWebAdminApp.tranCategory.categoryRegex">Category Regex</span></dt>
        <dd>
            <div *ngIf="tranCategory.categoryRegex">
                <a [routerLink]="['/tran-category-regex', tranCategory.categoryRegex?.id]">{{tranCategory.categoryRegex?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sfWebAdminApp.tranCategory.parent">Parent</span></dt>
        <dd>
            <div *ngIf="tranCategory.parent">
                <a [routerLink]="['/tran-category', tranCategory.parent?.id]">{{tranCategory.parent?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tran-category/'+ tranCategory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
